<img class="start_page_img" src='img/bg_image.9.png'/>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/gamePage/mapView">
    <ion-nav-view name="gamePage-mapView"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/gamePage/tableView">
    <ion-nav-view name="gamePage-tableView"></ion-nav-view>
  </ion-tab>


</ion-tabs>