

<img class="start_page_img" src='img/bg_image.9.png'/>
<img class="start_page_img_icon" src="img/skull_icon.9.png"/>
<div class="start_page_text">
	<center><h1>Assassins</h1></center>
	<h2>Play a game with your friends and try to kill them all</h2>
</div>
<div class="start_page_buttons">
 	<button ng-click="newGame()" class="start_page_button new_game" >Start New Game</button>
 	<button ng-click="joinGame()" class="start_page_button join_game" href="#/joinGame">Join Existing Game</button>
</div>